.hotel_list_container{
  display: flex;
  justify-content: center;
  margin-top: 20px;


  .hotel_list_warpper{
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    gap: 20px;


    .hotel_list_search{
      flex: 1;
      background-color: teal;
      padding: 10px;
      border-radius: 10px;
      position: sticky;
      top: 10px;
      height: max-content;
    }

    .hotel_list_items{
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 10px;

      label{
        font-size: 20px;
        color: white;
      }

      input{
        height: 30px;
        border: none;
        padding: 5px;
      }

      .date_picker_span{
        height: 30px;
        padding: 5px;
        background-color: white;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      
    }

    .list_option_wrapper{
      padding: 10px;

      .list_option_Item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: white;
        font-size: 12px;
        
        .list_option_input{
          width: 50px;
        }
      }
    }

    .hotel_list_result{
      flex: 3;
    }
  }

.search_btn{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 40px;
    width: 100%;
    color: teal;
    cursor: pointer;
  
}
}