.header{
  display: flex;
  background-color: var(--black-color);
  color: white;
  justify-content: center;
  position: relative;


  .header_container{
    width: 100%;
    max-width: var(--max-width);
    margin: 20px 0 100px 0;
    text-align: center;

    &.list_mode{
      margin: 20px 0 0 0 ;
    }

    .header_lists{
      display: flex;
      gap: 40px;
      margin-bottom: 40px;
      justify-content: center;
      // position: sticky;
      // top: 0;

      .header_list_item{
        display: flex;
        align-items: center;
        gap: 10px;

      &.active{
            border: 1px solid white;
            padding: 10px;
            border-radius: 10px;
        }
      }
    }

    .header_desc{
      margin: 20px 0 ;
    }

    .header_button{
      background-color: var(--main-color);
      color: white;
      font-weight: 500;
      border: none;
      padding: 10px;
      cursor: pointer;
    }

    .header_search{
      height: 50px;
      background-color: white;
      border: 3px solid var(--main-color);
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 10px 0;
      border-radius: 5px;
      position: absolute;
      bottom: -25px;
      width: 100%;
      max-width: var(--max-width);

      
      .header_search_item{
        display: flex;
        align-items: center;
        gap: 10px;

        .header_search_input{
          border: none;
          outline: none;
          text-transform: capitalize;
        }

        .header_search_text, .header_icon {
          color: grey;
          cursor: pointer;
        }

        .date_picker{
          position: absolute;
          top: 50px;
          z-index: 99;
        }

        .options{
          position: absolute;
          top: 50px;
          background-color: white;
          color: gray;
          border-radius: 5px;
          -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
          z-index: 99;

          .option_items{
            display: flex;
            justify-content: space-between;
            width: 200px;
            margin: 10px;
            
            .option_counter_wrapper{
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: 1rem;
              color: black;
              
              .option_counter_button{
                width: 30px;
                height: 30px;
                border: 1px solid var(--main-color);
                color: var(--main-color);
                border-radius: 5px;
                cursor: pointer;
                background: none;

                &:hover{
                  background-color: var(--main-color);
                  color: white;
                }

                &:disabled{
                  cursor: not-allowed;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px){
  .header{

    .header_container{
      .header_search{
        width: 95%;
        left: 25px;
      }
    }
  }
}